<h1 >Dysplay your Pirate here </h1>
<%= params[:pirate][:name] %>
<div>
<%= params[:pirate][:weight] %>
<div>
<%= params[:pirate][:height] %>
<div>
<h2>Display your first ship here</h2>
<div>
<%= params[:ship1][:name] %>
<div>
<%= params[:ship1][:type] %>
<div>
<%= params[:ship1][:booty] %>
<div>


<h2>Display your second ship here</h2>
<div>

<%= params[:ship2][:name] %>
<div>
<%= params[:ship2][:type] %>
<div>
<%= params[:ship2][:booty] %>
